@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    130deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(14, 34, 24, 1) 0%,
    rgba(8, 54, 19, 1) 49%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    130deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(14, 34, 24, 1) 0%,
    rgba(113, 138, 101, 1) 49%
  );
  width: 400px;
  padding: 20px;
  border-radius: 5px;
}

.cityInput {
  display: flex;
  align-items: center;
  width: 100%;
  border: solid 2px rgb(195, 238, 199);
  border-radius: 15px;
  padding: 5px;
  overflow: hidden;
}
.cityInput input {
  flex: 1;
  height: 30px;
  padding: 5px 10px;
  outline: none;
  border: none;
  font-size: 18px;
  background: none;
  color: white;
}
.searchImg {
  padding: 10px;
  height: 30px;
  cursor: pointer;
}
.searchImg img {
  height: 18px;
  width: 15px;
  margin-bottom: 2px;
}
.image {
  text-align: center;
  height: 140px;
  margin-bottom: 10px;
}
.image img {
  width: 160px;
  height: 160px;
}
.temp,
.city,
.country {
  margin-top: 8px;
  font-size: 34px;
  text-transform: uppercase;
  color: #333;
  text-align: center;
}

.temp {
  font-weight: 500;
}
.city {
  color: rgb(223, 172, 21);
  font-weight: 400;
  font-size: 40px;
}
.country {
  font-size: 20px;
  font-weight: 500;
  color: #07600f;
}
.cord {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.cord div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.cord div span {
  font-size: 14px;
}
.humidityPercentage,
.windSpeed,
.cord div span:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  color: #07600f;
  padding-top: 5px;
}
.dataContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.element {
  text-align: center;
}
.icon {
  width: 50px;
  height: 50px;
}
.copyright {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
}
.copyright span {
  color: #052d09;
  font-weight: 600;
}
.loadingMessage,
.cityError,
.errorMessage {
  text-align: center;
  margin-top: 10px;
  color: black;
}
